* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
	background-image: url(/img/juegos/puzzleespacial/background_puzzle.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}
.volver-juegos {
	display: inline-block;
    color: black; 
    background-color: white;
    padding: 12px;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    transition: background-color 0.3s, color 0.3s;
}
.volver-juegos:hover{
	background-color: #F5F5F5;
}

img {
    width: 100%;
    height: 100%;
}

.slider-game {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 5%;
}

.container {
    display: grid;
    width: 40em;
    height: 36em;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 12em;
}

.original-image {
    width: 25em;
    height: 25em;
	border: outset #ffffff;
}

.imagenhola {
    width: 100%;
    height: 100%;
}

.image-container {
    border: 1px solid #ffffff;
}

.cover-screen {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-button {
    font-size: 1.2em;
    padding: 0.8em 2em;
    border: none;
    border-radius: 3em;
    cursor: pointer;
}

#moves {
    position: relative;
    margin: 1em;
    text-align: right;
    font-size: 2.5rem;
    color: white;
    display: flex;
    justify-content: center;  
}

.hide {
    display: none;
}

@media only screen and (max-width: 768px) {
    .slider-game {
        flex-direction: column;
    }

    .container {
        width: 20em;
        height: 20em;
        grid-auto-rows: 6em;
    }

    .original-image {
        width: 20em;
        height: 20em;
    }
}