@font-face {
    font-family: Pixel;
    src: url(../fonts/poxel/poxel-font.ttf);
}

#side_nav{
    background: url(../img/sidebar-foto-2.png);
    background-size: cover;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.4s;
}
.sidebar{
    display: flex;
    flex-direction: column;
    font-family: Poppins;
}
.content{
    min-height: 100vh;
    width: 100%;
    font-family: Poppins;
    background: #dffaff;
}
hr.h-color{
    background: white;
}

.sidebar li.active{
    background: white;
    border-radius: 8px;
}
.sidebar li.active a, 
.sidebar li.active a:hover{
    color: darkblue;
}
.sidebar li a{
    color: white;
    font-size: 20px;
}
@media(max-width: 767px){
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active{
        margin-left: 0;
    
    }
}
.family-pixel{
    font-family: Pixel;
}
.icono {
    width: 10rem;
    align-items: center;
}
.icono-navbar{
    width: 2rem;
}
.img-cursos {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}
.img-perfil {
    width: 3rem;
}

/* POSTS */
.titulo-bienvenidos{
	font-family: Pixel;
}
#file-upload{
	display: none;
}
.btn-post{
	background-image: linear-gradient(to right, #59D9E4, #2A93C7, #0D5FB5);
	color: white;
	font-weight: 600;
	transition: background-image 0.3s;
}
.btn-post:hover{
	background-image: linear-gradient(to right, #48AAC9, #1E75A7, #0A488F);
}
.descripcion-post-form{
	max-height: 400px;
}

.foro-post-timeago{
	color:gray;
}
