/* Fonts */
@font-face {
    font-family: Pixel;
    src: url(../fonts/poxel/poxel-font.ttf);
}
@font-face {
    font-family: Altone;
    src: url(../fonts/altone/AltoneTrial-Regular.ttf);
}
@font-face {
    font-family: Sanva;
    src: url(../fonts/sanva/sanva\ font.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/monserrat/MontserratAlternates-Light.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}

#side_nav{
    background: url(../img/sidebar-foto-2.png);
    background-size: cover;
    background-position: center;
    min-width: 320px;
    max-width: 320px;
    transition: all 0.4s;
}
.sidebar{
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    width: 320px; /* Ajusta el ancho del sidebar según tus necesidades */
    background-color: #f8f9fa;
    transition: all 0.4s;
}
.sidebar span{
    font-size: 30px;
}
@media (max-width: 767px) {
    .sidebar {
      margin-left: -320px;
    }
  
    .sidebar.active {
      margin-left: 0;
    }
  }
.content{
    font-family: Poppins;
    margin-left: 320px; /* Alinea el contenido a la derecha del sidebar */
    background-color: #e5fcff;
    overflow-y: auto;
}
hr.h-color{
    background: white;
}

.sidebar li.active{
    background: white;
    border-radius: 30px;
}
.sidebar li.active a, 
.sidebar li.active a:hover{
    color: darkblue;
}
.sidebar li a{
    color: white;
    font-size: 25px;
}
@media(max-width: 767px){
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active{
        margin-left: 0;
    
    }
}
.family-pixel{
    font-family: Pixel;
}
.logo-sidebar {
    width: 13rem;
}
.icono-navbar{
    width: 2rem;
}
.img-perfil {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}
.img-nav {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
  }
.rounded-circle-border-nav{
    display: inline-block;
    border: 2px solid rgb(0, 194, 215); /* Color y grosor del borde */
    border-radius: 50%; /* Asegura que el borde sea redondeado */
    padding: 2px; /* Espacio entre el borde y la imagen */
}

/* POSTS */
.titulo-bienvenidos{
	font-family: Pixel;
}
#file-upload{
	display: none;
}
.btn-post{
	background-image: linear-gradient(to right, #59D9E4, #2A93C7, #0D5FB5);
	color: white;
	font-weight: 600;
	transition: background-image 0.3s;
}
.btn-post:hover{
	background-image: linear-gradient(to right, #48AAC9, #1E75A7, #0A488F);
}
.descripcion-post-form{
	max-height: 400px;
}

.foro-post-timeago{
	color:gray;
}

/*STYLE DE LA BARRA DE PROGRESO*/
.progress-title{
    font-size: 18px;
    font-weight: 700;
    color: #1c2647;
    margin: 0 0 10px;
}
.progress{
    width: 10rem;
    height: 30px;
    background: #fff;
    border-top: 5px solid #1c2647;
    border-bottom: 5px solid #1c2647;
    border-radius: 0;
    margin-bottom: 25px;
    overflow: visible;
    position: relative;
}
.progress:before,
.progress:after{
    content: "";
    width: 5px;
    background: #1c2647;
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
}
.progress:after{
    left: auto;
    right: -5px;
}
.progress .progress-bar{
    border: none;
    box-shadow: none;
    -webkit-animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
    animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}
.rating {
    display: flex;
    
}
.estrella {
    font-size: 32px;
    color: #ddd;
    transition: color 0.3s;
   
}


.estrella.checked {
    color: gold;
}

.bd-placeholder-img{
    width: 260px;
    height: 362px;
    object-fit: cover;
}

