/* Fonts */
@font-face {
    font-family: Pixel;
    src: url(../fonts/poxel/poxel-font.ttf);
}
.family-pixel{
    font-family: Pixel;
}
@font-face {
    font-family: Altone;
    src: url(../fonts/altone/AltoneTrial-Regular.ttf);
}
@font-face {
    font-family: Sanva;
    src: url(../fonts/sanva/sanva\ font.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/monserrat/MontserratAlternates-Light.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}
.family-poppins{
    font-family: Poppins;
}
/*
    DEMO STYLE
*/


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 320px;
    position: fixed;
    font-family: Poppins;
    top: 0;
    left: -320px;
    height: 100vh;
    z-index: 999;
    background: url(../img/sidebar-foto-2.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.sidebar span{
    font-size: 30px;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    border-radius: 100%;
    color: black;
}
#sidebar .sidebar-header {
    padding: 20px;
}
.sidebar li.active{
    background: white;
    border-radius: 30px;
}
.sidebar li.active a, 
.sidebar li.active a:hover{
    color: darkblue;
}
.sidebar li a{
    color: white;
    font-size: 25px;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
.logo-sidebar {
    width: 13rem;
}


/*STYLE DE LA GALERIA*/
.gallery{
    columns: 5 320px;
    column-gap: 0.8em;
}
.img-gallery{
    max-width: 100%;
    margin-bottom: 0.1em;
    display: block;
    border-radius: 15px;
    transition: transform 0.4s ease, opacity 0.4s ease;
    position: relative;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
}
.img-gallery:hover{
    transform: scale(1.05);
    opacity: 0.9;
}

.img-gallery img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.img-gallery:hover img {
    transform: scale(1.05);
    opacity: 0.9;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.img-gallery:hover .image-overlay {
    display: flex;
    opacity: 1;
}

/* Imagen en tamaño completo */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    cursor: pointer;
}

.modal-overlay img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

/* Botón para cerrar imagen en grande */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 50px; /* Ajusta el tamaño del ícono */
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.547);
    cursor: pointer;
    outline: none;
    z-index: 1000; /* Asegúrate de que esté por encima de la imagen */
}

.close-button:hover {
    color: #ffffffbf;
}

.container-fluid h1{
    font-family: Pixel;
}
.logo {
    width: 10rem;
    align-items: center;
}
.icono-navbar{
    width: 2rem;
}
.img-nav {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}
.img-perfil {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}
.rounded-circle-border-nav{
    display: inline-block;
    border: 2px solid rgb(0, 194, 215); /* Color y grosor del borde */
    border-radius: 50%; /* Asegura que el borde sea redondeado */
    padding: 2px; /* Espacio entre el borde y la imagen */
}

/*STYLE DE LA BARRA DE PROGRESO*/
.progress {
    width: 15rem;
}
.progress-title{
    font-size: 18px;
    font-weight: 700;
    color: #1c2647;
    margin: 0 0 10px;
}
.progress{
    width: 10rem;
    height: 30px;
    background: #fff;
    border-top: 5px solid #1c2647;
    border-bottom: 5px solid #1c2647;
    border-radius: 0;
    margin-bottom: 25px;
    overflow: visible;
    position: relative;
}
.progress:before,
.progress:after{
    content: "";
    width: 5px;
    background: #1c2647;
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
}
.progress:after{
    left: auto;
    right: -5px;
}
.progress .progress-bar{
    border: none;
    box-shadow: none;
    -webkit-animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
    animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}