@charset "ISO-8859-1";
/* Fonts */
@font-face {
  font-family: Pixel;
  src: url(../fonts/poxel/poxel-font.ttf);
}
.family-pixel{
  font-family: Pixel;
}
@font-face {
  font-family: Altone;
  src: url(../fonts/altone/AltoneTrial-Regular.ttf);
}
@font-face {
  font-family: Sanva;
  src: url(../fonts/sanva/sanva\ font.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/monserrat/MontserratAlternates-Light.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-Light.ttf);
}
.family-poppins{
  font-family: Poppins;
}
#side_nav{
  background: url(../img/sidebar-foto-2.png);
    background-size: cover;
    background-position: center;
  min-width: 320px;
  max-width: 320px;
  transition: all 0.4s;
}
.sidebar{
  display: flex;
  flex-direction: column;
  font-family: Poppins;
}
.sidebar span{
  font-size: 30px;
}
.content{
  min-height: 100vh;
  width: 100%;
  font-family: Poppins;
  background: #edeeef;
}
.logo-sidebar {
  width: 13rem;
}
hr.h-color{
  background: white;
}
.sidebar li.active{
  background: white;
  border-radius: 8px;
}
.sidebar li.active a, 
.sidebar li.active a:hover{
  color: darkblue;
}
.sidebar li a{
  color: black;
  font-size: 25px;
}
@media(max-width: 767px){
  #side_nav{
      margin-left: -250px;
      position: fixed;
      min-height: 100vh;
      z-index: 1;
  }
  #side_nav.active{
      margin-left: 0;
  
  }
}
/*NAV STYLE*/
#navbarNav li a{
  font-size: 25px;
  text-transform: uppercase;
  
}
.navbar-nav li {
  display: flex;
  align-items: center;
}
.navbar-nav li i {
  margin-right: 5px; /* Espacio entre el icono y el texto (ajústalo según sea necesario) */
}
.navbar-nav li a:hover {
  color: #376494;
}
.img-nav {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}
.rounded-circle-border-nav{
  display: inline-block;
  border: 2px solid rgb(0, 194, 215); /* Color y grosor del borde */
  border-radius: 50%; /* Asegura que el borde sea redondeado */
  padding: 2px; /* Espacio entre el borde y la imagen */
}

.accordion-button:not(.collapsed){
  color: var(--bs-accordion-active-color);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.sidebar a {
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
  color: white;
  font-size: 30px;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: black;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
 
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: rgb(0, 247, 255);
  color: white;
}

.tag:hover::after {
  border-left-color: rgb(0, 213, 255);
}

.bienvenida h1{
  font-size: 60px;

}
.bienvenida p{
  font-size: 20px;
}
.parrafo p{
  font-size: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40% !important;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}