.contenido{
	background-color: #E8F3F5;
}

.perfil{
	width: 525px;
	height: 750px;
	background-image: linear-gradient(to right, #E0E0FC, #D9F5F9);
}

.actividad{
	width: 525px;
	height: 375px;
	background-image: linear-gradient(to right, #E0E0FC, #D9F5F9);
}

.nivel{
	width: 525px;
	height: 300px;
	background-image: linear-gradient(to right, #E0E0FC, #D9F5F9);
}