@charset "utf-8";

/* Fonts */

body {
	overflow: hidden;
}
.navbar {

	background-color: transparent;
}

.logo {
	background-color: transparent;
	width: 80px;
}

.logo-name {
	font-size: 27px;
	font-weight: 500;
	color: white;
	margin-right: 18px;
}

.hero {
	background-image: url('/img/background_seccion1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	min-height: 450px;
	text-align: center;
	color: white;
}

/*Estilo del link para cambiar de lado el formulario */
.link-button {
  cursor: pointer;
  transition: all 200ms linear;
  text-decoration: none;
  color: white;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.link-button::before,
.link-button::after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
}

.link-button::before {
  background-color: #00a4ff;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.link-button::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #00a4ff;
}

.link-button:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.link-button:hover::after {
  transform: translate3d(0, 0, 0);
}

.link-button span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  margin-left: 15px;
}

.link-button:hover span {
  transform: translate3d(-200%, 0, 0);
}
/*Fin Estilo del link para cambiar de lado el formulario */

/*Estilo para centar el parrafo que dice si te quieres registrar o iniciar sesión */
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  display: flex;
  align-items: center;
  justify-content: center;
      margin-top: 0px;
    margin-bottom: 0rem;
}


.mb-4 {
     margin-bottom: 7rem!important;
}



/*Seccion del formulario */
.section {
  
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:0% auto;
   height: 770px;
   align-items: center;
  
}
/*Div Animacion 3d , se puede modificar su tamaño*/
.card-3d-wrap {
  width: 440px;
  max-width: 100%;
  height: 400px;
  transform-style: preserve-3d;
  perspective: 800px;
 
}
/*Animacion 3d */
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
 
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}
/*Animacion 3d */

/*Estilo de la Carta frontal y trasera */
.card-front,
.card-back {
  opacity: 0.8;
  width: 110%;
  height: 145%;
  background-image: linear-gradient(to left, #012656, #012656, #014359, #28767d, #28767d);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 35px;
  left: 0;
  top: 0;
  /*Esto mantiene el formulario que este al otro lado invisible */
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
}
/*Permite a la carta trasera rotar 180grados */
.card-back {
  transform: rotateY(180deg); 
}
/*Div para centrar los formularios */
.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 49%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(00px);
  z-index: 20;
  display: block;
}

/*Posicionamiento de los inputs*/
.form-group {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
   width: 100%;
}
/*Estilo de los inputs*/
.form-style {
  height: 35px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: rgba(0, 0, 0, 0);
  border: none;
   border-bottom: 1px solid rgba(255, 255, 255, 1.0);
   padding-left: 40px;
}


/*Estilos de los placesholder*/
.form-group input:-ms-input-placeholder {
  color: #c4c3ca;
  
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input::-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
/*Estilo del boton*/
.btn {
  border-radius: 15px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  background-color:white;
  color: black;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
      margin-bottom: 55px;
}
.btn:active,
.btn:focus {
  background-color: #102770;
  color: #42b2f0;
  box-shadow: 0 8px 24px 0 black;
}
.btn:hover {
  background-color: white;
  color: black;
  box-shadow: 0 8px 24px 0 black;
}

.mt-5 {
    margin-top: 0rem!important;
}
.mt-4 {
      margin-top: 4.5rem!important;
}

/*Posicionamiento de los iconos del login*/
.input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: white;
  transition: all 200ms linear;
}
/*Padding del formulario del registro*/
.card-back .form-style {
  padding-left: 0px;
}



